body{
    background-color: brown;
    color: white;
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}

ul{
    background-color: crimson;
    color: white;
    list-style-type: none;
    overflow: hidden;
}

li{
    margin-right: 20px;
    float: left;
}

img{
    width: 20px;
    height: 20px;
}

